native/client/.theos/
native/client/packages/
native/client/control
native/client/Resources/Info.plist
client/ios/.theos/
client/ios/packages/
client/ios/control
client/ios/Resources/Info.plist
native/buildenv/sdk/
/backend/surf-backend
/backend/surf-backend.exe
/backend/surf-desktop
/backend/surf-desktop.exe
/backend/surf
/backend/surf.exe
/backend/.env
/dist/
.env
.local/
client/desktop/target/
