native/client/.theos/
native/client/packages/
native/client/control
native/client/Resources/Info.plist
native/buildenv/sdk/
/backend/surf-backend
/backend/surf-backend.exe
/backend/surf-desktop
/backend/surf-desktop.exe
/backend/.env
/dist/
.env
.local/
