[Unit]
Description=Surf
After=network-online.target

[Service]
EnvironmentFile=%h/.config/surf/env
ExecStart=%h/.local/bin/surf serve
Restart=on-failure
RestartSec=3

[Install]
WantedBy=default.target
