Package: space.seg6.wrp
Name: WRP
Version: 0.0.2
Architecture: iphoneos-arm
Description: Native rbrowser client
Maintainer: null <null@example.invalid>
Author: null <null@example.invalid>
Section: Applications
