Package: space.seg6.surf
Name: Surf
Version: 0.3.0
Architecture: iphoneos-arm
Description: Native Surf browser client
Maintainer: null <null@example.invalid>
Author: null <null@example.invalid>
Section: Applications
