Package: space.seg6.surf
Name: Surf
Version: 0.13.6
Architecture: iphoneos-arm
Description: Native Surf browser client
Maintainer: seg6 <hi@seg6.space>
Author: null <null@example.invalid>
Section: Applications
